<form class="newUserForm">
    <label>Add your name to the record book:<br>
    <input type="text" name="user[name]">
    </label><br>    
    <input type="submit" class="btn" value="Add me!">
</form>